

<%= render 'form' %>

<div class="text-center edit-links">
  <%= link_to 'Back', post_path(@post) %> |
  <%= link_to 'Cancel', root_path %>

  <% if @post.user_id == current_user.id %>
    | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>